$team-scale: 0.6

$black-text-border: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000
$white-border: 1px solid white
$base-icon-size: 102
$clickable-hover: #444444
$icon-size: $team-scale * $base-icon-size
$inherit-icon-size: $icon-size / 2

$type-size: 36px

$base-attribute-border-width: 512
$attribute-border-width: $base-attribute-border-width * $team-scale
$attribute-border-width-px: $attribute-border-width * 1px
$base-attribute-border-height: 256
$attribute-border-height: $base-attribute-border-height * $team-scale
$attribute-border-height-px: $attribute-border-height * 1px

$latent-scale: 0.43 * $team-scale
$base-awakening-image-width: 400
$base-awakening-image-height: 580
$awakening-image-width: $base-awakening-image-width * $latent-scale
$awakening-image-width-px: $awakening-image-width * 1px
$awakening-image-height: $base-awakening-image-height * $latent-scale
$awakening-image-height-px: $awakening-image-height * 1px

$base-awakening-size: 36
$base-latent-super-size: 78
$awakening-size: $base-awakening-size * $latent-scale
$latent-super-size: $base-latent-super-size * $latent-scale

$awakening-editor-scale: 0.7
$awakening-editor-size: $base-awakening-size * $awakening-editor-scale
$awakening-editor-image-width: $base-awakening-image-width * $awakening-editor-scale * 1px
$awakening-editor-image-height: $base-awakening-image-height * $awakening-editor-scale * 1px
$latent-super-editor-size: $base-latent-super-size * $awakening-editor-scale

$awakening-url: url(https://s3.amazonaws.com/ilmina/custom/eggs.png)

$base-font-size: 12
$icon-font-size: $base-font-size * $team-scale

.valeria-half-opacity
  opacity: 0.5

.valeria-monster-icon
  display: inline-block
  background-repeat: no-repeat
  width: $icon-size
  height: $icon-size
  cursor: pointer

.valeria-monster-icon-selected
  display: inline-block
  background-repeat: no-repeat
  width: $icon-size
  height: $icon-size
  cursor: pointer
  background-color: gray

.valeria-monster-icon-attribute
  display: inline-block
  background-repeat: no-repeat
  width: $icon-size
  height: $icon-size
  background-size: $attribute-border-width-px $attribute-border-height-px

.valeria-monster-icon-subattribute
  display: inline-block
  background-repeat: no-repeat
  width: $icon-size
  height: $icon-size
  background-size: $attribute-border-width-px $attribute-border-height-px

table.valeria-monster-icon-info
  position: relative
  top: -100%
  height: 100%
  left: 2.5%
  width: 95%

table.valeria-monster-icon-info > tr
  height: 33.3%

table.valeria-monster-icon-info > tr:nth-child(3)
  vertical-align: bottom

.valeria-monster-icon-plus
  display: inline-block
  color: yellow
  font-size: $base-font-size
  text-shadow: $black-text-border
  position: relative
  font-weight: 480

.valeria-monster-icon-awakening
  display: inline-block
  position: relative
  text-align: right
  font-size: $base-font-size
  color: yellow
  font-weight: 480px
  width: 90%
  text-shadow: $black-text-border

.valeria-monster-icon-sa
  display: inline-block
  width: $base-awakening-size / 2
  height: $base-awakening-size / 2
  background-size: $base-awakening-image-width / 2 * 1px $base-awakening-image-height / 2 * 1px
  background-image: $awakening-url
  background-repeat: no-repeat
  position: relative
  float: right

.valeria-monster-icon-sa-inactive
  opacity: 0.5
  display: inline-block
  width: $base-awakening-size / 2
  height: $base-awakening-size / 2
  background-size: $base-awakening-image-width / 2 * 1px $base-awakening-image-height / 2 * 1px
  background-image: $awakening-url
  background-repeat: no-repeat
  position: relative
  float: right

.valeria-monster-type
  display: inline-block
  background-repeat: no-repeat
  width: $type-size
  height: $type-size
  background-image: $awakening-url
  background-size: $base-awakening-image-width $base-awakening-image-height

.valeria-monster-icon-level
  display: inline-block
  color: white
  position: relative
  font-size: $icon-font-size
  font-weight: 318
  text-align: right
  text-shadow: $black-text-border

.valeria-monster-inherit
  height: $inherit-icon-size

.valeria-monster-inherit-icon
  display: inline-block
  background-repeat: no-repeat
  position: relative
  width: $inherit-icon-size
  height: $inherit-icon-size

.valeria-monster-inherit-attribute
  display: inline-block
  background-repeat: no-repeat
  width: $inherit-icon-size
  height: $inherit-icon-size
  background-size: $attribute-border-width-px / 2 $attribute-border-height-px / 2

.valeria-monster-inherit-subattribute
  display: inline-block
  background-repeat: no-repeat
  width: $inherit-icon-size
  height: $inherit-icon-size
  background-size: $attribute-border-width-px / 2 $attribute-border-height-px / 2

.valeria-monster-inherit-id
  display: inline-block
  font-size: $icon-font-size

.valeria-monster-inherit-level
  display: inline-block
  font-size: $icon-font-size

.valeria-monster-icon-id
  text-align: right
  font-size: $icon-font-size
  text-shadow: $black-text-border

.valeria-monster-inherit-plus
  display: inline-block
  font-size: $icon-font-size

.valeria-monster-latents
  height: $awakening-size
  width: $icon-size
  overflow: hidden

.valeria-monster-latent
  height: $awakening-size
  width: $awakening-size
  display: inline-block
  background-image: $awakening-url
  background-size: $awakening-image-width-px $awakening-image-height-px
  background-repeat: no-repeat

.valeria-monster-latent-super
  height: $awakening-size
  width: $latent-super-size
  display: inline-block
  background-image: $awakening-url
  background-size: $awakening-image-width-px $awakening-image-height-px
  background-repeat: no-repeat

.valeria-combo-editor
  padding: 5px

.valeria-combo-command
  width: 100%

.valeria-combo-table
  font-size: xx-small

.valeria-combo-table > tr > td > input
  width: 20px
  height: 12px

.valeria-tabbed > table
  width: 100%

.valeria-tabbed-label
  border: $white-border
  cursor: pointer
  background-color: #222222

.valeria-tabbed-label:hover
  background-color: #444444

.valeria-tabbed-label-selected
  border-left: $white-border
  border-top: $white-border
  border-right: $white-border

.valeria-tabbed-tab
  display: none

.valeria-tabbed-tab-selected
  border-left: $white-border
  border-bottom: $white-border
  border-right: $white-border

.valeria-team-storage
  cursor: auto

.valeria-team-storage-save
  border: $white-border

.valeria-team-storage-save:hover
  cursor: pointer
  background-color: $clickable-hover

.valeria-team-load-area
  width: 100%
  max-height: 800px
  overflow-y: scroll

.valeria-team-load-active > td:hover
  cursor: pointer
  background-color: $clickable-hover

.valeria-team-load-active > td:nth-child(1)
  width: 95%

.valeria-team-load-active > td:nth-child(2)
  text-align: center

.valeria-team-load-inactive
  display: none

.valeria-team-container
  width: 6 * $icon-size * 1px

.valeria-team-container-disabled
  display: none

.valeria-team-title
  border: none
  width: 100%
  background-color: black
  color: white
  font-size: medium

.valeria-team-description
  border: none
  width: 100%
  background-color: black
  color: white
  font-size: small
  height: 300px

.valeria-monster-container
  // position: relative
  display: inline-block

.valeria-monster-container-selected
  // position: relative
  display: inline-block
  background: #333

.valeria-team-stat-table
  width: 6 * (3px + $icon-size)

.valeria-team-stat-label
  font-size: xx-small

.valeria-team-stat-value
  text-align: right
  font-size: small

.valeria-monster-editor
  padding: 5px

.valeria-monster-selector
  font-size: small
  width: 98%

.valeria-monster-selector-options-container
  position: relative
  left: 0
  right: 0

.valeria-monster-selector-options-inactive
  display: none

.valeria-monster-selector-options-active
  position: absolute
  left: 0
  z-index: 1000
  background-color: black
  border: $white-border

.valeria-monster-selector-option-inactive
  display: none

.valeria-monster-selector-option-active
  font-size: x-small
  padding: 2px
  cursor: pointer

.valeria-monster-selector-option-active:hover
  background-color: $clickable-hover

.valeria-pdchu-io
  width: 100%

.valeria-level-editor > table > tr > td
  padding: 5px

.valeria-level-input
  width: 45px

.valeria-plus-editor
  width: 50px
  margin-right: 10px
  font-size: small

.valeria-monster-awakening
  display: inline-block
  width: $awakening-editor-size
  height: $awakening-editor-size
  background-size: $awakening-editor-image-width $awakening-editor-image-height
  background-image: $awakening-url
  background-repeat: no-repeat
  cursor: pointer
  // Defaults to question mark.
  background-position: 0px -324 * $awakening-editor-scale * 1px

.valeria-monster-awakening-super
  display: inline-block
  width: $latent-super-editor-size
  height: $awakening-editor-size
  background-size: $awakening-editor-image-width $awakening-editor-image-height
  background-image: $awakening-url
  background-repeat: no-repeat
  cursor: pointer
  // Defaults to question mark.
  background-position: 0px -324 * $awakening-editor-scale * 1px

.valeria-floor-container
  max-height: 300px
  overflow-y: scroll

.valeria-enemy-picture-container
  width: 100%
  min-height: 320px
  position: relative

.valeria-enemy-picture-container > img
  max-width: 100%
  display: block
  margin-left: auto
  margin-right: auto

// .valeria-floor-add
// valeria-floor-delete
// valeria-floor-enemies
// valeria-floor-enemy

.valeria-floor-enemy-add
  vertical-align: super

.valeria-layered-asset
  display: inline-block

.valeria-layered-asset > a
  background-size: 512px 512px
  background-repeat: no-repeat
  position: absolute

// valeria-floor-delete

.valeria > table
  width: 100%
  font-size: small

.valeria > table > tr > td
  width: 33%
  vertical-align: top
